.site-hero {
  padding: 100px 260px 50px 260px;
}
.site-hero__container__title {
  @include hero-title--stil;
  width: 730px;
  height: 189px;
}
.content-box {
  margin-top: 52px;
}
.text-box__title {
  @include content-title--stil;
}
.text-box__text {
  @include content-text--stil;
  width: 635px;
  height: 112px;
}
.text-box__text1 {
  @include content-text--stil;
  width: 635px;
  height: 84px;
}
.text-box {
  display: flex;
  justify-content: center;
  gap: 160px;
}
.text-box1 {
  display: flex;
  justify-content: center;
  gap: 140px;
  margin-top: 56px;
}
@media only screen and (max-width: 768px) {
  .site-hero {
    padding: 100px 40px 50px 40px;
  }
  .site-hero__container__title {
    width: 573px;
    height: 178px;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    margin-left: 40px;
  }
  .text-box {
    gap: 30px;
  }
  .text-box__text {
    width: 456px;
    height: 140px;
  }
  .text-box__text1 {
    width: 456px;
    height: 122px;
  }
  .text-box1 {
    gap: 11px;
    margin-top: 64px;
  }
}
@media only screen and (max-width: 375px) {
  .site-hero {
    padding: 100px 24px 50px 24px;
  }
  .site-hero__container__title {
    width: 320px;
    height: 152px;
    font-size: 32px;
    line-height: 36px;
    margin-left: -35px;
  }
  .text-box {
    flex-direction: column;
  }
  .text-box__text {
    width: 310px;
    height: 196px;
    text-align: center;
    margin-left: -40px;
  }
  .text-box__title {
    text-align: center;
  }
  .text-box1 {
    flex-direction: column;
  }
  .text-box__text1 {
    width: 310px;
    height: 196px;
    text-align: center;
    margin-left: -40px;
  }
}
